<%# Partial for rendering a single chat message %>
<div class="chat-bubble-wrapper" <%= 'from-me' if chat_message.user == current_user %> style="background-color: <%= chat_message.user == current_user ? '#DCF8C6' : '#FFFFFF' %>; box-shadow: 0 1px 3px rgba(0,0,0,0.1);">
  <%= image_tag('Feeling Passionate.png', class: 'avatar', alt: 'avatar') %>
  <div class="chat-bubble <%= 'from-me' if chat_message.user == current_user %>">
    <strong class="username"><%= chat_message.user.username %>:</strong>
    <p class="chat-content"><%= chat_message.content %></p>
    <small class="timestamp"><%= chat_message.created_at.strftime("%b %d, %H:%M") %></small>
  </div>
</div>
