<!DOCTYPE html>
<html>
  <head>
    <title>Unlonely</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .modal-content {
          background-color: black;
          color: white;
          border: 1px solid rgba(255, 255, 255, 0.2);
      }
      .modal-header {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
      .btn-close {
          filter: invert(1);
      }
      .btn-light {
        font-size: 30px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= javascript_include_tag 'toggle_journal_form' %>
    <%= javascript_include_tag 'toggle_reflection' %>
    <%= javascript_include_tag "toggle_chat", "data-turbo-track": "reload" %>
  </body>
</html>
